.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #f36b36;
}

.login-form > form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-input {
  margin-bottom: 20px;
}

.login-password {
  margin-bottom: 20px;
}

.login-button {
  height: 40px;
  background-color: #5183d0;
  color: white;
  margin-bottom: 40px;
}

.link-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-button {
  height: 40px;
  background-color: white;
  color: #5183d0;
  width: 510px;
  border-color: #5183d0;
  font-size: 16px;
}
